{% extends 'base.html' %}

{% block content %}

    <h3><p class="text-center">{{ user.username }}</p></h3>
    {% if request.user.id == user.id %}
        <a href="{% url 'posts:post_create' %}" class="btn btn-primary">Create</a>
    {% endif %}
        <div class="card">
        {% if request.user.id != user.id and not is_following %}
            <a class="btn btn-info" href="{% url 'accounts:user_follow' user.id %}">Follow</a>
        {% elif request.user.id != user.id and is_following %}
            <a class="btn btn-info" href="{% url 'accounts:user_unfollow' user.id %}">Unfollow</a>

    {% endif %}

         {% for post in posts %}
             <a href="{{ post.get_absolute_url }}" class="card-body">
                <p>{{ post.body|truncatewords:3 }}</p>
         {% endfor %}
             </a>
    </div>


{% endblock %}